

<div class="container">
    <nav class="navbar nav">
        <div class="col-3">
            <ul>
                <li class="nav-item">
                    <a class="nav-link">
                        <img s/>
                        Klienter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        Statistik
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        Kalender
                    </a>
                </li>
            </ul>
        </div>


    </nav>
</div>


@code {




}
