@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('rootstyles.css');

/*:root {
    --headerbg: #6a736f;
    --a-color: black;
    --hover: #f2798f;
    --blue_box: #325573;
    --green_ani: #6a736f;
    --rosa_dark: #bf657d;
    --rosa_light: #f2798f;
    --red_danfoss: #ed1c24;
    --gray1: #cbcfd1;
    --gray2: #f8f9fa;
    --white_50: rgba(255, 255, 255, .5);
}*/


header {
    background: var(--headerbg);
}


.dog-logo-svg {
    background-image: url(../img/doglogo.svg);
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}


