@using DanfossInfoscreen.Shared
@using Microsoft.PowerBI.Api
@using DanfossInfoscreen.Client.Models
@using System.Security.Cryptography.X509Certificates
@inject HttpClient Http


    <table class="charts-css line">

        <tbody>
        <tr>
            <td style="--start: 0.0; --size: 0.21"> <span class="data"> $ 40K </span> </td>
        </tr>
        <tr>
            <td style="--start: 0.21; --size: 0.28"> <span class="data"> $ 20K </span> </td>
        </tr>
        <tr>
            <td style="--start: 0.28; --size: 0.19"> <span class="data"> $ 60K </span> </td>
        </tr><tr>
            <td style="--start: 0.19; --size: 0.22"> <span class="data"> $ 60K </span> </td>
        </tr>
      </tbody>

    </table>


@code {
    


}



