@page "/"



<div class="box-1">
    <div class="box-white">
        <div class="m-3">
            <h3>Semester projekt 2021</h3>
            <p>
                Denne side, udgør navigation til de webapps der forefindes i projektet. <br />
                Lean heat projektet, kommer er de første to blokker, under denne. Den første side, er den del, der skal vises på
                Danfoss´ infoskærm, og den anden, er den du som bruger kan tilgå, ved at scanne QR koden på infoskærmen.
            </p>
        </div>
    </div>
</div>

<div class="box-2">

    <div class="box-white">
        <div class="m-3">
            <h3>Danfoss - Leanheat - Infoskærm</h3>
            <p>
                Denne webapp leder dig ind på den del af mit system, som skal vises på infoskærmen.
            </p>
        </div>
    </div>
</div>

<div class="box-3">
    <div class="box-white">
        <div class="m-3">
            <h3>Danfoss - Leanheat - Bruger interaction</h3>
            <p>
               Webapp som du som bruger til at interagere med infoskærmen
            </p>
        </div>
    </div>
</div>


<div class="box-4">
    <div class="box-white">
        <div class="m-3">
            <h3>Journal system</h3>
            <p>
                Denne webapp er lavet udenfor Danfoss-leanheat scope. <br />
                Denne er en poc, på et journal system, en bruger som behandler dyr. <br />
                Fokus her er også at få afprøvet SQL og noSQL integration i samme projekt.
                Samt at lave et distribueret system, med en komponentbaseret indgangsvinkel.
            </p>
        </div>
    </div>
</div>







